| ※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
| こちらは送信専用のメールアドレスになります。
| 直接メールでご返信されても、確認いたしかねますのでご注意ください。
| ※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※


| こんにちは。
| 自動車洗車サービス『sinkawache』です。




| #{@customer.full_name}様

| 変更依頼が完了しました。＊変更またはキャンセルできない場合がございます。
| 後日、メールまたは担当者からご連絡させて頂きます。

| 変更依頼したい予約
| #{@reservation.start_at.strftime('%-m/%d %H:%M')}からの予約

| 変更依頼ステータス
| #{@request_change.status_i18n}

| 理由
| #{simple_format(@request_change.memo)}

| 〇〇日以内にメールまたは電話でご連絡させて頂きます。
| お急ぎの場合は電話（090-2853-5363）お問合せください。

| * ご質問、ご不明点等ございましたら、下記よりご連絡いただきますよう、よろしくお願いいたします。
| ----------------------------------------
| sinkawache
| メールアドレス : example@gmail.com
| 電話番号 : 090-1234-1234
| ----------------------------------------