| ※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※
| こちらは送信専用のメールアドレスになります。
| 直接メールでご返信されても、確認いたしかねますのでご注意ください。
| ※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※※


| こんにちは。
| 自動車洗車サービス『sinkawache』です。




| #{@customer.full_name}様

| この度は、sinkawacheにご利用いただき誠にありがとうございます。
- if @staff.present?
  | 今回洗車を担当させていただきました、#{@reservation.staff.family_name}です。
  | #{@customer.full_name}様の、またのご利用を心よりお待ちしております。




| * ご質問、ご不明点等ございましたら、下記よりご連絡いただきますよう、よろしくお願いいたします。
| ----------------------------------------
| sinkawache
| メールアドレス : example@gmail.com
| 電話番号 : 090-1234-1234
| ----------------------------------------